@page
@model ChangePasswordModel
@{
  ViewData["Title"] = "Change password";
  ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="change-password-form" method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>

  <div class="mb-2 row justify-content-center">
    <label asp-for="Input.OldPassword" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-8">
      <div class="input-group mb-1">
        <input asp-for="Input.OldPassword" class="form-control rounded-0" type="password"
          autocomplete="current-password" id="inputOldPassword">
        <span class="input-group-text bg-white rounded-0 p-0" id="basic-addon1"><i class="bi bi-eye-slash px-3 py-1"
            id="eyeIconOldPassword"></i></span>
      </div>
      <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-2 row justify-content-center">
    <label asp-for="Input.NewPassword" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-8">
      <div class="input-group mb-1">
        <input asp-for="Input.NewPassword" class="form-control rounded-0" type="password" autocomplete="new-password"
          id="inputPassword">
        <span class="input-group-text bg-white rounded-0 p-0" id="basic-addon1"><i class="bi bi-eye-slash px-3 py-1"
            id="eyeIconPassword"></i></span>
      </div>
      <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-2 row justify-content-center">
    <label asp-for="Input.ConfirmPassword" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-8">
      <div class="input-group mb-1">
        <input asp-for="Input.ConfirmPassword" class="form-control rounded-0" type="password"
          autocomplete="new-password" id="inputConfirm">
        <span class="input-group-text bg-white rounded-0 p-0" id="basic-addon1">
          <i class="bi bi-eye-slash px-3 py-1" id="eyeIconConfirm"></i>
        </span>
      </div>
      <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
  </div>

  <div class="mb-2 row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <button type="submit" class="w-50 btn btn-lg btn-success">Update password</button>
    </div>
  </div>
</form>


@section Scripts {
  <partial name="_ValidationScriptsPartial" />
  <script src="/js/showHidePasswordEyeIcon.js"></script>
}
