div .swal2-icon-content {
  font-size: 3.5rem !important;
}

.toast {
  opacity: 0.92 !important;
  font-size: 1rem;
}

/* .slick-arrow {
  color: #000000 !important;
  background: red!important;
} */

.slick-prev:before {
  color: black !important;
  background-color: #ffffff;
}

.slick-next:before {
  color: black !important;
  background-color: #ffffff;
}