div .swal2-icon-content {
  font-size: 3.5rem !important;
}

.toast {
  opacity: 0.92 !important;
  font-size: 1rem;
}

.slick-prev:before {
  color: black !important;
  background-color: transparent;
}

.slick-next:before {
  color: black !important;
  background-color: transparent;
}

.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center !important;
  justify-content: center !important;
}

.slickCarouselImg {
  height: 150px !important;
  width: auto !important;
}

.homeIndexCategoriesImg {
  height: 300px !important;
  width: auto !important;
}