@page
@model AccessDeniedModel
@{
  ViewData["Title"] = "Access denied";
}
<section class="bg-light d-flex justify-content-center">
  <div class="container-lg pb-5 p-3">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <hr />

    <div class="row justify-content-center">
      <div class="col-12">

        <div class="mb-2 row justify-content-center">
          <p class="text-danger">You do not have access to this resource.</p>
          <div class="d-flex justify-content-center">
            <img src="https://media.tenor.com/U06lxYeZ3PMAAAAC/jurassic-park-wayne-knight.gif" \>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>