@page
@model ResetPasswordModel
@{
  ViewData["Title"] = "Reset password";
}
<section class="bg-light d-flex justify-content-center">
  <div class="container-lg pb-5 p-3">
    <h1 class="text-success">@ViewData["Title"]</h1>
    <h2>Reset your password.</h2>
    <hr />

    <div class="row justify-content-center">
      <div class="col-12">
        <form method="post">

          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
          <input asp-for="Input.Code" type="hidden" />

          <div class="mb-2 row justify-content-center">
            <label asp-for="Input.Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
              <input asp-for="Input.Email" class="form-control rounded-0">
              <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
          </div>

          <div class="mb-2 row justify-content-center">
            <label asp-for="Input.Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
              <div class="input-group mb-1">
                <input asp-for="Input.Password" class="form-control rounded-0" type="password" id="inputPassword">
                <span class="input-group-text bg-white rounded-0 p-0" id="basic-addon1"><i
                    class="bi bi-eye-slash px-3 py-1" id="eyeIconPassword"></i></span>
              </div>
              <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
          </div>

          <div class="mb-2 row justify-content-center">
            <label asp-for="Input.ConfirmPassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
              <div class="input-group mb-1">
                <input asp-for="Input.ConfirmPassword" class="form-control rounded-0" type="password" id="inputConfirm">
                <span class="input-group-text bg-white rounded-0 p-0" id="basic-addon1">
                  <i class="bi bi-eye-slash px-3 py-1" id="eyeIconConfirm"></i>
                </span>
              </div>
              <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
          </div>

          <div class="mb-2 row justify-content-center">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <button type="submit" class="w-50 btn btn-lg btn-success">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
@section Scripts {
  <partial name="_ValidationScriptsPartial" />
  <script src="/js/showHidePasswordEyeIcon.js"></script>
}
