@page
@model ResetPasswordConfirmationModel
@{
  ViewData["Title"] = "Reset password confirmation";
}

<section class="bg-light d-flex justify-content-center">
  <div class="container-lg pb-5 p-3">
    <h1 class="text-success">@ViewData["Title"]</h1>
    <hr />

    <div class="row justify-content-center">
      <div class="col-12">

        <div class="mb-2 row justify-content-center">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <p class="h3">
              Your password has been reset. Please <a class="h3" asp-page="./Login">click here to log in</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>