@model YerbaMateStore.Models.Entities.DeliveryMethod

@{
  ViewData["Title"] = "Create Delivery Method";
}
<section class="bg-light d-flex justify-content-center">
  <div class="container-lg pb-5 p-3">
    <h1 class="text-success">@ViewData["Title"]</h1>
    <hr />
    <div class="row justify-content-center">
      <div class="col-12">

        <form asp-action="Create">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <div class="row ">
            <div class="col-12 col-lg-6 mb-3">
              <label asp-for="Carrier" class="control-label"></label>
              <input asp-for="Carrier" class="form-control" />
              <span asp-validation-for="Carrier" class="text-danger"></span>
            </div>
            <div class="col-12 col-lg-6 mb-3">
              <label asp-for="DeliveryTime" class="control-label"></label>
              <input asp-for="DeliveryTime" class="form-control" />
              <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3">
              <label asp-for="CollectionPoint" class="control-label"></label>
              <input asp-for="CollectionPoint" class="form-control" />
              <span asp-validation-for="CollectionPoint" class="text-danger"></span>
            </div>

            <div class="col-12 col-lg-6 mb-3">
              <label asp-for="PaymentMethodId" class="control-label"></label>
              <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId">
                <option value="">- select peyment method -</option>
              </select>
              <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
            
            <div class="col-12 col-lg-6 mb-3">
              <label asp-for="Cost" class="control-label"></label>
              <input asp-for="Cost" class="form-control" />
              <span asp-validation-for="Cost" class="text-danger"></span>
            </div>

            <div class="col-12 mb-3">
              <button type="submit" class="btn btn-success create-category-btn me-1 w-25">Create</button>
              <a asp-controller="PaymentMethod" asp-action="Index"
                class="btn btn-secondary create-category-btn ms-1 w-25">Back to
                list</a>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}
